#drag-container .hidden{
    display: none;
}
#drag-container .modal{
    position: fixed;
    height: 450px;
}
#drag-container .draggable-input{
    border: 1px solid #e8e8e8;
    transition: 0.5s;
    display: inline-block;
    width: 99%;
    vertical-align: top;
}
#drag-container .draggable-input.half-row{
    width: 49%;
    margin-right: 1%;
}
#drag-container .on-drag{
    opacity: 0.5;
    cursor: move;
}
#drag-container .drag-heading{
    cursor: default;
    background-color: #333;
    padding: 10px 15px;
} 
.required-fail{
    border: 2px #f00 solid;
    padding: 5px;
}
.tab-fail:after{
    content : ' [!]';
    color: red;
    font-weight: bold;
}
/*
#drag-container.client-view .drag-heading{
    cursor: default;
    padding: 5px;
    background-color: rgba(0,0,0,0);
}
#drag-container.client-view .drag-heading h4, #drag-container.client-view .drag-heading .ordenation{
    color: white;
}
#drag-container.client-view .drag-heading ul{
    margin-right: 20px;
}
*/

#drag-container .drag-heading.Pass{
    background-color: #67953f;
}
#drag-container .drag-heading.Fail{
    background-color: #d43f3a;
}
#drag-container .drag-heading.Audit{
    background-color: #4973a9;
}
#drag-container .drag-heading h4{
    color: white;
    display: inline;
}
#drag-container .drag-heading ul{
    list-style: none;
    float: right;
    text-align: right;
    margin: 0;
    display: inline;
}
#drag-container.client-view .drag-heading ul{
    float: none;
    display: inline-block;
    vertical-align: top;
    width: 5%;
}
#drag-container .drag-heading ul li{
    display: inline-block;
    color: white;
    font-size: 18px;
    padding-left: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 15px;
}
#drag-container .drag-heading ul li:hover{
    color: #f59623;
}
#drag-container .drag-heading .fa-compress, #drag-container .drag-heading .fa-expand{
    transform: rotate(45deg);
}
#drag-container.client-view h4{
    display: none;
}
#drag-container.client-view .drag-heading .drag-label{
    display: inline-block;
    margin-left: 10px;
    color: white;
    width: 80%;
    font-size: 1.2em;
    vertical-align: top;
}
#drag-container.client-view .drag-heading .drag-label label{
    font-weight: 300;
    margin-bottom: 0;
}

#drag-container .help {
    display: inline;
    position: relative;
    cursor: pointer;
}
#drag-container .help .icon{
    margin-left: 5px;
    display: inline;
}
#drag-container .help + .text{
    font-size: 1em;
    padding: 10px;
}
.paragraph-content{
    height: auto;
}

.help + .text h4, 
.help-text h4,
.paragraph-content h4,
.update-paragraph h4{
    font-weight: normal;
    font-size: 1.6em;
}
.help + .text h5, 
.help-text h5,
.paragraph-content h5,
.update-paragraph h5{
    font-weight: normal;
    font-size: 1.2em;
}

.help-text{
    border: 1px solid #e4e7ea;
    padding: 10px;
}
.text li{
    display: list-item;
}

#drag-container .drag-input{
    overflow: hidden;
}


#drag-container .help .comment-icon{
    display: inline;
}
#drag-container .help .comment-icon.has-comments{
    color: #f59623;
}
#drag-container .help .icon:hover + .text{
    display: block;
}
#drag-container #list-container{
    width: 15%;
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;
}
#drag-container #list-container.fixed{
    position: relative;
    margin-top: 10px;
    z-index: 666;
}
#drag-container #list-container li{
    list-style: none;
    margin: 5px;
    cursor: pointer;
    padding: 10px;
    width: auto;
    display: inline-block;
    background-color: #eee;
}
#drag-container #list-container li:hover{
    background-color: #f59623;
}
#drag-container #list-container li a{
    color: #282828;
}
#drag-container #list-container li:hover a{
    color: #fff;
}
#drag-container{
    min-height: 140px;
    padding: 20px;
}
#drag-container nav ul{
    margin: 0;
    padding: 0;
}
#drag-container nav li{
    margin: 0 10px 0 0;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    background-color: #e4e7ea;
    transition: 0.3s;
    margin-top: 10px;
}
#drag-container nav li a{
    color: #000;
}
#drag-container nav li.active{
    background-color: #f59623;
}
#drag-container nav li.active a{
    color: white;
}
#drag-container .tab{
    display: none;
    min-height: 200px;
    border: 2px dotted #dadada;
    position: relative;
    padding: 10px;
    margin-top: 10px;
}
#drag-container .tab:before{
    content: "content";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
#drag-container .tab.active{
    display: block;
}
#drag-container .form-holder{
    width: 75%;
    display: inline-block;
    vertical-align: top;
}
#drag-container nav ul li .fa{
    visibility: hidden;
    margin-left: 10px;
}
#drag-container nav ul li.active .fa{
    color: white;
    visibility: visible;
    display: inline-block;
}

#drag-container #blankSpace{
    width: 100%;
    display: inline-block;
    height: 80px;
    opacity: 0.2;
    background-color: #bababa;
    margin: 10px;
    border: 2px dotted #dedede;
}
#drag-container #blankSpace.half-row{
    width: 49%;
}
#history a{
    color: #333;
    display: block;
    margin: 10px;
    padding: 10px;
    opacity: 0.6;
    border: 2px solid #333;
}
#history a.active{
    opacity: 1;
}
#history .modal-body{
    height: 320px;
}

#history #checkpoints{
    max-height: 100%;
    overflow-y: scroll;
}

.comments{
    padding: 0 10px !important;
    max-height: 300px;
    overflow-y: auto;
}
.comments .username{
    color: #333;
    font-weight: 400;
}
.comments .message{
    background-color: #4973a9;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    padding: 7px;
    color: #fff;
    margin-bottom: 5px;
    min-width: 50px;
}
.user-message .message{
    background-color: #f59623;
}
.internal-comments .message{
    background-color: #e4e7ea;
    color: #333;
}
.comments .message:before{
    content: "";
    position: absolute;
    top: -8px;
    left: 15px;
    width: 0;
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #4973a9;
}
.user-message .message:before{
    left: unset;
    border-bottom: 8px solid #f59623;
    right: 15px;
}
.internal-comments .message:before{
    border-bottom: 8px solid #e4e7ea;
}

#drag-container.client-view .draggable-input{
    border: none;
    padding: 0 10px 20px 10px ;
    width: 33%;
}
#drag-container.client-view .draggable-input[id*="header"]{
    padding: 0 10px 0 10px;
}
#drag-container.client-view .draggable-input[id*="paragraph"]{
    font-size: 1.2em;
}
.client-view [id*="paragraph"] .drag-heading , .client-view [id*="header"] .drag-heading {
    display: none;
}

#drag-container.client-view .draggable-input.expanded, #drag-container.client-view .draggable-input[id*="paragraph"], #drag-container.client-view .draggable-input[id*="header"] {
    width: 99%;
}/*
#drag-container.client-view .draggable-input.expanded + .draggable-input:nth-of-type(3n){
    margin-left: 66%;
}
#drag-container.client-view .draggable-input.expanded + .draggable-input:nth-of-type(3n)[id*="paragraph"], #drag-container.client-view .draggable-input.expanded + .draggable-input:nth-of-type(3n)[id*="header"]{
    margin-left: 0%;
}
#drag-container.client-view .draggable-input.expanded + .draggable-input:nth-of-type(3n-1){
    margin-left: 33%;
}
#drag-container.client-view .draggable-input.expanded + .draggable-input:nth-of-type(3n-1)[id*="paragraph"], #drag-container.client-view .draggable-input.expanded + .draggable-input:nth-of-type(3n-1)[id*="header"]{
    margin-left: 0%;
}*/
#drag-container.client-view .draggable-input.half-row{
    margin-right: 0;
}
#drag-container.client-view .form-group{
    padding: 0;
    margin: 0;
}
#drag-container.client-view .tab{
    border: none;
}
#drag-container.client-view .drag-comments{
    padding: 5px !important;
    margin: 10px;
    color: #999;
}

#drag-container.client-view .drag-comments ul li{
    font-size: 0.85em;
    animation: fadeIn 0.5s;
}
 .drag-comments ul li.user-message{
    text-align: right;
 }

#drag-container.client-view .drag-comments h4{
    font-size: 1em;
    margin: 0;
    padding: 10px;
}
#drag-container.client-view .drag-comments textarea{
    height: 38px;
}
#drag-container.client-view .toggle-comments{
    margin-left: 5px;
    cursor: pointer;
}
#drag-container.client-view .comment-input{
    clear: both;
    margin: 10px 0;
}
#drag-container.client-view .form-holder{
    width: 100%;
}

.ordenation{
    color: #dedede;
}
#drag-container button[type="submit"]{
  background: #67953f;
  border: 1px solid #67953f;
  color: #ffffff;
}
#drag-container button[type="submit"]:hover,#drag-container button[type="submit"]:focus,#drag-container button[type="submit"]:active {
  background: #67953f;
  opacity: 0.8;
  color: #ffffff;
  border: 1px solid #67953f;
}
#drag-container button[type="reset"]{
  background: #d43f3a;
  border: 1px solid #d43f3a;
  color: #ffffff;
}
#drag-container button[type="reset"]:hover,#drag-container button[type="reset"]:focus,#drag-container button[type="reset"]:active {
  background: #d43f3a;
  opacity: 0.8;
  color: #ffffff;
  border: 1px solid #d43f3a;
}

#drag-container h3{
    font-weight: bold;
    font-size: 2.5em;
}

#drag-container canvas{
    border: 1px solid #ddd;
}

#drag-container .rules .form-group{
    margin-top: 5px;
    margin-bottom: 5px;
}

#drag-container .drag-options .col-lg-2{
    margin-right: 10px;
}

#drag-container .half-row .col-lg-2{
    width: 50%;
}

h4[class*="open-"]{
    display: inline-block;
    cursor: pointer;
}
h4[class*="open-"].active{
    display: inline-block;
    font-weight: bold;
}

.checkbox label::before, .radio label::before{
    border: 1px solid rgba(120, 130, 140, 0.4);
}
.file-holder{
    margin-bottom: 40px;
}
.file-holder h5 a{
    color: #333;
}
.file-holder h5 a div{
    text-decoration: underline;
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;

}
.file-holder h5:hover a div{
    text-decoration: none;
}
.remove-file{
    cursor: pointer;
}

.dropzone:hover{
    cursor: pointer;
    transition: 0.3s;
    background-color: #efefef;
}
.dz-image-preview{
    width: 50%;
    float: left;
    overflow: hidden;
    padding: 10px; 
}
.dz-filename{
    overflow: hidden;
    text-overflow: ellipsis;
}

.dz-error-message,
.remove-file,
.dz-remove{
    color: #d43f3a;
    text-decoration: underline;
}

.remove-file:hover,
.dz-remove:hover{
    color: #d43f3a;
    text-decoration: none;
}

h5.bold{
    font-weight: 900;
}

#save-changes, #submit-form{
    position: fixed;
    right: 20px;
    bottom: 10px;
    z-index: 999;
    padding: 20px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
}


@media screen and (max-width: 992px){
    #drag-container{
        padding: 0;
    }
    #drag-container.client-view .draggable-input{
        width: 100%;
        padding: 5px;
    }
    .dz-image-preview{
        width: 100%;
        float: none;
        overflow: hidden;
        padding: 10px; 
    }
}

@keyframes fadeIn 0.1s{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

h4 i{
    cursor: pointer;
}