#drag-container .hidden{
    display: none;
}
#drag-container .modal{
    position: fixed;    
}
#drag-container .draggable-input{
    border: 1px solid #e8e8e8;
    transition: 0.5s;
    display: inline-block;
    width: 99%;
    vertical-align: top;
}
#drag-container .draggable-input.half-row{
    width: 49%;
    margin-right: 1%;
}
#drag-container .span-required{
    display: none;
}
#drag-container .on-drag{
    opacity: 0.5;
    cursor: move;
}
#drag-container .drag-heading{
    cursor: move;
    background-color: #333;
    padding: 10px 15px;
}   
#drag-container .drag-heading h4{
    color: white;
    display: inline;
}
#drag-container .drag-heading ul{
    list-style: none;
    float: right;
    text-align: right;
    margin: 0;
    display: inline;
}
#drag-container .drag-heading ul li{
    display: inline-block;
    color: white;
    font-size: 18px;
    padding-left: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 15px;
}
#drag-container .drag-heading ul li:hover{
    color: #f59623;
}
#drag-container .drag-heading .fa-compress, #drag-container .drag-heading .fa-expand{
    transform: rotate(45deg);
}   
#drag-container .help {
    display: inline;
    position: relative;
}
#drag-container .help .icon{
    margin-left: 5px;
    display: inline;
}
#drag-container .help .text{
    display: none;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    font-size: 12px;
    background-color: #686868;
    color: white;
    padding: 5px;
}
#drag-container .help .icon:hover + .text{
    display: block;
}
#drag-container #list-container{
    width: 30%;
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;
}
#drag-container #list-container.fixed{
    position: relative;
    margin-top: 10px;
    z-index: 666;
}
#drag-container #list-container li{
    list-style: none;
    padding: 5px 10px;
    margin: 5px 0;
    background-color: white;
    cursor: pointer;
}
#drag-container #list-container li a{
    color: #282828;
}
#drag-container #list-container li a:hover{
    color: #f59623;
}
#drag-container{
    min-height: 140px;
    padding: 20px;
}
#drag-container nav ul{
    margin: 0;
    padding: 0;
}
#drag-container nav li{
    margin: 0 10px 0 0;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    background-color: #fff;
    transition: 0.3s;
    margin-top: 10px;
}
#drag-container nav li.active{
    background-color: #f59623;
}
#drag-container nav li.active a{
    color: white;
}
#drag-container .tab{
    display: none;
    min-height: 200px;
    border: 2px dotted #dadada;
    position: relative;
    padding: 10px;
    margin-top: 10px;
}
#drag-container .tab:before{
    content: "content";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
#drag-container .tab.active{
    display: block;
}
#drag-container .form-holder{
    width: 60%;
    display: inline-block;
    vertical-align: top;
}
#drag-container nav ul li .fa{
    visibility: hidden;
    margin-left: 10px;
}
#drag-container nav ul li.active .fa{
    color: white;
    visibility: visible;
    display: inline-block;
}

#drag-container #blankSpace{
    width: 100%;
    display: inline-block;
    height: 80px;
    opacity: 0.2;
    background-color: #bababa;
    margin: 10px;
    border: 2px dotted #dedede;
}
#drag-container #blankSpace.half-row{
    width: 49%;
}
#history a{
    color: #333;
    display: block;
    margin: 10px;
    padding: 10px;
    opacity: 0.6;
    border: 2px solid #333;
}
#history a.active{
    opacity: 1;
}
#history .modal-body{
    height: 320px;
}

#history #checkpoints{
    max-height: 100%;
    overflow-y: scroll;
}

.comments{
    padding: 0 10px !important;
}
.comments .username{
    color: #333;
}
.comments .username:after{
    content: ": ";
}

#drag-container.client-view .draggable-input{
    border: none;
    padding: 5px 20px;
}
#drag-container.client-view .panel-body{
    padding: 0 0 12px;
}
#drag-container.client-view .form-group{
    padding: 0;
    margin: 0;
}
#drag-container.client-view .tab{
    border: none;
}
#drag-container.client-view .drag-comments{
    padding: 5px !important;
    background: #fafafa;
    margin: 10px;
    color: #999;
}

#drag-container.client-view .drag-comments ul li{
    font-size: 0.85em;
}
#drag-container.client-view .drag-comments h4{
    font-size: 1em;
    margin: 0;
    padding: 10px;
}
#drag-container.client-view .drag-comments textarea{
    height: 38px;
}
#drag-container.client-view .toggle-comments{
    margin-left: 5px;
    cursor: pointer;
}
#drag-container.client-view .comment-input{
    clear: both;
    margin: 10px 0;
}
#drag-container.client-view .form-holder{
    width: 100%;
}

.ordenation{
    color: #bfbfbf;
}
#drag-container button[type="submit"]{
  background: #67953f;
  border: 1px solid #67953f;
  color: #ffffff;
}
#drag-container button[type="submit"]:hover,#drag-container button[type="submit"]:focus,#drag-container button[type="submit"]:active {
  background: #67953f;
  opacity: 0.8;
  color: #ffffff;
  border: 1px solid #67953f;
}
#drag-container button[type="reset"]{
  background: #d43f3a;
  border: 1px solid #d43f3a;
  color: #ffffff;
}
#drag-container button[type="reset"]:hover,#drag-container button[type="reset"]:focus,#drag-container button[type="reset"]:active {
  background: #d43f3a;
  opacity: 0.8;
  color: #ffffff;
  border: 1px solid #d43f3a;
}

#drag-container h3{
    font-weight: bold;
}

#drag-container canvas{
    border: 1px solid #ddd;
}

#drag-container .rules .form-group{
    margin-top: 5px;
    margin-bottom: 5px;
}

#drag-container .drag-options .col-lg-2{
    margin-right: 10px;
}


@media screen and (max-width: 1330px){
    #drag-container .half-row{
        margin-left: 0;
        width: 100% !important;
    }
}

