.panel .panel-heading {
  text-align: center;
  margin: 0;
  padding: 30px;
}

table.setDataTables tbody tr td {
  padding: 20px 0;
}

.selects {
  padding: 30px;
  background: #e2e2e2;
  margin-top: 5px;
}